.color-options {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 2rem;
  justify-content: center;

  input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 0;
    height: 0;
  }

  .color-option {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--shape-button);
    border-radius: 50%;
    max-width: 4rem;
    height: 4rem;
    flex-grow: 1;
  }
  
  .color-circle {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
  }
  
  .color-option:has(input[type="radio"]:checked) {
    border: .2rem solid var(--brand-light);
  }
  
  #color-1 + .color-circle  {
    background-color: var(--brand-light);
  }
  
  #color-2 + .color-circle {
    background-color: var(--navy);
  }
  
  #color-3 + .color-circle {
    background-color: var(--purple);
  }

  #color-4 + .color-circle {
    background-color: var(--fuschia);
  }
  
  #color-5 + .color-circle {
    background-color: var(--pink);
  }
  
  #color-6 + .color-circle {
    background-color: var(--danger);
  }

  #color-7 + .color-circle {
    background-color: var(--orange);
  }
  
  #color-8 + .color-circle {
    background-color: var(--yellow);
  }
  
  #color-9 + .color-circle {
    background-color: var(--lime);
  }

  #color-10 + .color-circle {
    background-color: var(--green);
  }
  
  #color-11 + .color-circle {
    background-color: var(--cyan);
  }
  
}
