.form {
  border: 2px solid blue;
  padding-block: 3.4rem;

  & h2 {
    font: var(--label-medium);
    color: var(--content-primary);
    text-transform: uppercase;
    margin-bottom: 0.2rem;
  }

  & p {
    font: var(--paragraph-large);
    color: var(--content-secondary);
    margin-bottom: 4rem;
  }

  & .inputs {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 2rem;

    & .input-group {
      display: flex;
      flex-direction: column;
      align-items: center;

      & label {
        font: var(--label-small);
        margin-bottom: 0.8rem;
        color: var(--content-secondary);
      }

      & input[type="number"] {
        font: var(--display-small);
        padding: 0.4rem 0.8rem;
        border-radius: 0.8rem;
        background-color: var(--background-secondary);
        color: var(--content-primary);
        border: none;
        text-align: center;
        width: 10rem;

        --webkit-appearance: none;
        --moz-appearance: textfield;
      }

      & input[type="number"]::-webkit-inner-spin-button,
      & input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }
    }
  }

  & .checkbox-wrapper {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 4rem 0;

    & input[type="checkbox"] {
      display: none;
    }

    & .custom-toggle {
      width: 3rem;
      height: 2rem;
      background-color: var(--content-tertiary);
      border-radius: 999px;
      position: relative;
      transition: background-color 0.3s ease;
      cursor: pointer;
    }

    & .custom-toggle::before {
      content: "";
      position: absolute;
      width: 1.4rem;
      height: 1.4rem;
      top: 0.3rem;
      left: 0.2rem;
      background-color: white;
      border-radius: 50%;
      transition: transform 0.3s ease;
    }

    & span {
      font: var(--checkbox);
    }
  }

  & input[type="checkbox"]:checked + .custom-toggle {
    background-image: linear-gradient(90deg, #d586e0 0%, #91a1fa 98.93%);
  }

  & input[type="checkbox"]:checked + .custom-toggle::before {
    transform: translateX(1.2rem);
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;

    background-color: var(--background-tertiary);
    color: var(--content-primary);
    font: var(--label-small);
    padding-block: 1.6rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
  }
}

.result {
  text-align: center;
  padding-block: 5.9rem;
  width: 48.2rem;

  & h2 {
    font: var(--label-medium);
    color: var(--content-primary);
    text-transform: uppercase;
    margin-bottom: 0.4rem;
  }

  & .result-order {
    display: block;
    font: var(--overline);
    color: var(--content-secondary);
    margin-bottom: 4rem;
  }

  & .numbers {
    display: flex;
    justify-content: center;
    gap: 3.2rem;
    margin-bottom: 4rem;

    & .number {
      font: var(--number-result);
      color: var(--content-brand);
    }
  }

  & button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 100%;

    background-color: var(--background-tertiary);
    color: var(--content-primary);
    font: var(--label-small);
    padding-block: 1.6rem;
    border: none;
    border-radius: 0.8rem;
    cursor: pointer;
  }
}

.hidden {
  display: none;
}