.logo {
  margin-bottom: 9rem;
}

.app {
  display: flex;
  max-width: 110rem;
  width: 100%;
  gap: 10.8rem;
  border: 2px solid red;

  & .info {
    min-width: 51rem;
    flex: 1;

    & .badge {
      background: linear-gradient(90deg, #c7c9cc 0%, #3d3d3d 100%);

      --webkit-background-clip: text;
      background-clip: text;
      color: transparent;

      font: var(--overline);
      font-weight: bold;
      display: block;
      margin-bottom: 1.2rem;
      word-spacing: 1rem;
    }

    & h1 {
      font: var(--display-large);
      text-transform: uppercase;
      margin-bottom: 3.8rem;
    }

    & .faq-item {
      display: flex;
      align-items: flex-start;
      gap: 0.8rem;
      width: 38.6rem;

      & strong {
        font: var(--paragraph-medium);
        color: var(--content-brand);
        display: block;
        margin-bottom: 0.5rem;
      }

      & p {
        font: var(--paragraph-small);
        color: var(--content-secondary);
      }
    }

    & .faq-item:first-child {
      margin-bottom: 3.6rem;
    }
  }
}
