input,
textarea,
select {
  appearance: none;
  width: 100%;
  border-radius: 0.8rem;
  border: 0.2rem solid var(--input-stroke);
  background-color: var(--input-base);
  outline: none;

  padding: 1.4rem 1.6rem;

  font: var(--text);
  color: var(--text-heading);
}

input::placeholder,
textarea::placeholder {
  color: var(--input-placeholder);
}

input:focus,
textarea:focus {
  border: 0.2rem solid var(--brand-light);
}

label {
  font: var(--text-sm);
  color: var(--text-body);

  margin-bottom: 1.2rem;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
}

input[type="datetime-local"] {
  font: var(--text);
  position: relative;
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
}

textarea {
  height: 13.6rem;
  resize: none;
}

input:invalid {
  border-color: var(--danger);
}

.error-message {
  display: none;
  color: var(--danger);
  font: var(--text-xs);
}

input:invalid + .error-message {
  display: flex;
  gap: 0.8rem;
  margin-top: 0.8rem;
}
