* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  font-family: "Asap", serif;

  --gray-100: #0D0E11;
  --gray-200: #16181D;
  --gray-300: #292C34;
  --gray-400: #878EA1;
  --gray-500: #C0C4CE;
  --gray-600: #E2E4E9;

  --blue: #3996DB;
  --green: #82BC4F;
  --purple: #BB72E9;
  --red: #E3646E;
  --yellow: #EABD5F;

  --font-asap: 'Asap', sans-serif;
  --font-inconsolata: 'Inconsolata', monospace;
  --font-maven-pro: 'Maven Pro', sans-serif;

  --title-lg: 700 5.6rem/120% var(--font-asap);
  --title-md: 700 2.4rem/120% var(--font-asap);
  --title-sm: 700 1.6rem/120% var(--font-asap);
  --subtitle: 400 2rem/120% var(--font-inconsolata);
  --text-md: 400 1.6rem/140% var(--font-maven-pro);
  --text-sm: 400 1.4rem/140% var(--font-maven-pro);
}

body {
  background-color: var(--gray-200);
  color: var(--gray-500);
  width: 100%;
}

h1,
h2,
h3 {
  color: var(--gray-600);
}

h1 {
  font: var(--title-lg);
  text-align: center;
}

h2 {
  font: var(--title-md);
  text-align: center;
}

h3 {
  font: var(--title-sm);
}

h4 {
  color: var(--gray-500);
  font: var(--subtitle);
  text-align: center;
}

span {
  color: var(--red);
}

.inherit {
  display: inherit;
  gap: inherit;
  width: inherit;
  align-items: inherit;
  color: inherit;
  text-decoration: none;
}