#primary {
  padding-block: 2rem;

  div {
    display: flex;
    align-items: center;
    gap: .8rem;
  }

  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3) {
    justify-self: end;
  }
}

#secondary {
  padding-block: 1.4rem;
  border: solid .1rem var(--stroke-color);
  border-inline: none;
  justify-content: space-between;
}

@media (max-width: 768px) {
  #primary {
    padding-block: 1.6rem;

    & strong {
      display: none;
    }
  }

  #secondary {
    display: flex;
    flex-direction: row;
    gap: 3.2rem;
    white-space: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  #secondary::-webkit-scrollbar {
    display: none;
  }
}