*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --font-family: "Raleway", sans-serif;

  --title-lg: 700 4.8rem var(--font-family);
  --title-md: 700 4rem var(--font-family);
  --title-sm: 700 3.2rem var(--font-family);
  --title-xs: 700 1.6rem var(--font-family);
  --subtitle: 500 3.2rem/2 var(--font-family);
  --body-lg: 400 2rem/1.4 var(--font-family);
  --body-md: 400 1.6rem/1.4 var(--font-family);
  --body-sm: 400 1.4rem/1.4 var(--font-family);
  --body-xs: 400 1.2rem/1.4 var(--font-family);
  --text-button: 700 1.4rem var(--font-family);
  --link: 500 1.4rem var(--font-family);

  --pink-light: #C59DD2;
  --pink-base: #9547A5;
  --pink-dark: #7D298A;
  --pink-low: #3F0F41;

  --blue-light: #73B6D2;
  --blue-base: #358BB9;
  --blue-mid: #2374A4;
  --blue-dark: #144A72;
  --blue-low: #08233C;

  --shape-stroke: #002347;
  --shape-hover: #001933;
  --shape-base: #000F1F;
  --shape-background: #00050A;

  --text-title: #F8FBFB;
  --text-body: #E2E7E9;
  --text-label: #BAC6C9;
}

.tag {
  font: bold 1rem/auto;
  letter-spacing: 5%;
  text-transform: uppercase;
}

html, button {
  font: var(--body-md);
}

body {
  background-color: var(--shape-background);
}

a {
  color: inherit;
  text-decoration: none;
}