& .monthly-kit {
  border: 2px solid blue;
  width: 100%;
  max-width: 120rem;
  height: 158.6rem;
  padding-top: 23.5rem;
  padding-bottom: 27.8rem;
  margin: auto;
  text-align: center;

  & .kit-header {
    div:first-child {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 1.6rem;
    }

    & h2 {
      font: var(--title-sm);
      margin-bottom: 0.5rem;
    }

    & p {
      font: var(--body-md);
    }

    & .icon-star {
      width: 3.2rem;
      height: 3.2rem;
    }
  }

  & .kit-content {
    margin-top: 8.8rem;
    display: flex;
    justify-content: center;
    position: relative;

    & .book-area {
      position: relative;
      padding: 13.4rem 0 16.9rem;

      & img {
        max-width: 100%;
        height: auto;
        position: absolute;
      }

      & .book {
        max-width: 46.7rem;
        position: relative;
        z-index: 10;
      }

      & .bookmark.yellow {
        max-width: 17.2rem;
        top: 70px;
        right: -110px;
        rotate: 12deg;
        z-index: 1;
      }

      & .bookmark.purple {
        max-width: 17.2rem;
        top: 150px;
        right: -215px;
        rotate: 22deg;
        z-index: 0;
      }

      & .pin {
        max-width: 22.2rem;
        bottom: 0;
        top: 580px;
        left: -140px;
        rotate: -8deg;
        z-index: 0;
      }

      & .label {
        position: absolute;
        font: var(--body-md);
        color: var(--text-labe);

        &.label-top {
          top: 70px;
          left: -200px;
        }

        &.label-bottom-left {
          bottom: 450px;
          left: -210px;
        }

        &.label-bottom-right {
          bottom: 140px;
          right: -100px;
        }
      }

      & .arrow {
        position: absolute;

        &.arrow-top {
          top: 11rem;
          left: -140px;
        }

        &.arrow-bottom-left {
          bottom: 30rem;
          left: -190px;
        }

        &.arrow-bottom-right {
          bottom: 18rem;
          right: -160px;
        }
      }

      .bookmark.yellow,
      .bookmark.purple,
      .pin,
      .label,
      .arrow {
        z-index: 5;
        opacity: 0;
        transform: scale(0.6);
        filter: blur(4px);
        animation: emerge 1s ease-out both;
        animation-timeline: view();
        animation-range: 150px 250px;
      }
    }
  }
}

@keyframes emerge {
  to {
    opacity: 1;
    transform: scale(1);
    filter: blur(0);
  }
}


@media (max-width: 768px) {
  & .monthly-kit {
    padding-top: 10.4rem;
    padding-bottom: 8.8rem;
    height: 63.1rem;

    & .kit-header {
      div:first-child {
        display: flex;
        align-items: baseline;
        gap: 1.6rem;
      }

      & h2 {
        font-size: 2.4rem;
        margin-bottom: 0.8rem;
      }

      & p {
        font-size: 1.4rem;
      }

      & .icon-star {
        width: 2rem;
        height: 2rem;
      }
    }

    & .kit-content {
      margin-top: 6.4rem;

      & .book-area {
        padding: 5.3rem 0 5.7rem;

        & .book {
          max-width: 15.7rem;
          z-index: 2;
        }

        & .bookmark.yellow {
          max-width: 5.84rem;
          top: 30px;
          right: -40px;
          z-index: 1;
        }

        & .bookmark.purple {
          max-width: 5.84rem;
          top: 60px;
          right: -72px;
          z-index: 0;
        }

        & .pin {
          max-width: 7.5rem;
          top: 200px;
          left: -46px;
          z-index: 0;
        }

        & .label {
          font-size: 1rem;

          &.label-top {
            top: 25px;
            left: -80px;
          }

          &.label-bottom-left {
            bottom: 160px;
            left: -80px;
          }

          &.label-bottom-right {
            bottom: 40px;
            right: -70px;
          }
        }

        & .arrow {
          &.arrow-top {
            max-width: 5.87rem;
            top: 45px;
            left: -50px;
          }

          &.arrow-bottom-left {
            max-width: 3.52rem;
            bottom: 10.8rem;
            left: -65px;
          }

          &.arrow-bottom-right {
            max-width: 4.89rem;
            bottom: 6rem;
            right: -60px;
          }
        }
      }
    }
  }
}
