DATABASE_URL="postgresql://postgres:postgres@localhost:5432/help_desk?schema=public"
JWT_SECRET="murillo"
PORT=3333
CLOUDINARY_CLOUD_NAME=seu_cloud_name
CLOUDINARY_API_KEY=sua_api_key
CLOUDINARY_API_SECRET=seu_api_secret