& ul#item-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  & li {
    background-color: var(--background-secondary);
    padding: 0.8rem 1.2rem;
    border-radius: 1.2rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    .item-wrapper {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      cursor: pointer;
      flex: 1;

      & .custom-checkbox {
        appearance: none;
        width: 1.6rem;
        height: 1.6rem;
        border: 0.1rem solid var(--border-primary);
        border-radius: 0.6rem;
        background-color: var(--background-secondary);
        cursor: pointer;
        position: relative;
        transition: all 0.2s ease-in-out;

        &:hover {
          border: 0.1rem solid var(--border-hover);
        }

        &:checked {
          border-color: var(--color-brand);
          background-color: var(--color-brand);
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 100%;
          height: 100%;
          background-image: url("../assets/icons/check.svg");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;
          transform: translate(-50%, -50%);
        }
      }
    }

    & .delete-btn {
      background: none;
      border: none;
      cursor: pointer;

      transition: transform 0.3s ease, opacity 0.3s ease;
      transform-origin: center;
    }

    & .delete-btn:hover {
      transform: rotate(20deg) scale(1.1);
      opacity: 0.8;
    }
  }
}
